extends layout/base
block content
    section.content-header
        h1
            | Secret Page
            small This is a secret Page

    // Main Page
    section.content
        // /.row
        .row
            .col-xs-12
                .box
                    .box-header
                        h3.box-title Hi, Admin
                    // /.box-header
                    .box-body
                        p Welcome to secret Page
                    // /.box-body
                // /.box
            // /.content